@{
    ViewBag.Title = "About Us";
}

<center>
    <div class="col-md-12">
        <img src="/Content/images/called-to-serve.png" style="height:auto; width: 75%;" />
    </div>

    <h1>@ViewBag.Title</h1>

    <p>
        At Called to Serve we're committed to helping all future missionaries, both those with or without calls, prepare themselves for missionary service
        by connecting them with returned missionaries who can answer any and every question they could possible have about missionary service.
    </p>
    <p>
        Called to Serve was founded in 2013 when Craig Tucker saw his younger sister Nicole struggling with understanding exactly how to prepare for missionary service.
        Wanting to help, Craig began contacting as many returned missionaries as he could, asking them to share their mission experiences with him.
        Realizing the potential to help more people than just his sister, Craig set off and founded Called to Serve.
        Since 2013 it has grown to a team of 10 people, all commited to ensuring you have the best mission possible!
    </p>
    <p>We're headquartered in Provo, Utah and have access to the biggest and best source of RM's, BYU!</p>
</center>

